<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Thank You</title>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
        <style >
        
        body {
        background: url('/images/pack_house7.jpg') no-repeat center center fixed;
        background-size: cover;
        color: black;
    }
        </style>
</head>
<body>

<div class="container text-center  mt-5">
  <h1 class="display-4 font-weight-bold">Thank You 🙏</h1>
  <p class="lead mt-3">
  <h4>
  Your order has been placed successfully.<br>
    Payment received. We will deliver soon 🍇
  </h4>
     </p>

  <a href="/home" class="btn btn-primary btn-lg mt-4">
    Back to Home
  </a>
</div>

</body>
</html>
